html {
	height: 100%
}

body {
	background-image: radial-gradient(#111, black);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	color: white;
}

h2 {
	font-family: 'Staatliches', sans-serif;
	font-weight: normal;
	font-size: 84px;
	margin: 0;
}

p {
	font-family: 'Lora', sans-serif;
	font-weight: normal;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;
}

#input {
	font-family: 'Lora', sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: #222;
	margin-top: 20px;
	outline: none;
	border: none;
	border-bottom: 2px solid #fff;
	padding: 5px;
	width: 80%;
	transition: background-color 0.7s ease;
}

#input:focus {
	background-color: #444;
}

#generatebutton {
  background-color: #ccc;
  border: none;
  color: #222222;
  padding: 10px 42px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Staatliches', sans-serif;
  letter-spacing: 1px;
  border-radius: 8px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  margin-top: 24px;
}

#generatebutton:hover {
  background-color: #fff;
}

#generatebutton:focus {
  outline: 0;
}


.centerAll {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
}

.topnav {
	overflow: hidden;
	height: 60px;
}

.topnav a {
	float: left;
	display: block;
	color: #aaa;
	font-family: 'Staatliches';
	font-size: 16pt;
	letter-spacing: 2px;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	-webkit-transition-duration: 0.2s;
  	transition-duration: 0.2s;
}

.topnav a:hover {
	color: #bcd;
}


#chords {

}
