html {
	height: 100%
}

body {
	background-color: #f7f8f8;
	margin: 0;
	color: black;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 72px;
	margin-bottom: 12px;
	margin-top: 0;
}

p {
	font-family: 'Lora', sans-serif;
	font-weight: normal;
	font-size: 22px;
	margin-top: 0;
	margin-bottom: 0;
}

#input {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: #444;
	background-color: #fff;
	margin-top: 20px;
	outline: none;
	border: none;
	border-bottom: 3px solid #ddd;
	padding: 5px;
	width: 80%;
	transition: border-bottom 0.7s ease, background-color 0.5s ease;
}

#input:focus {
	background-color: #e8e8e8;
	border-bottom: 3px solid #444;
}

#generatebutton {
  background-color: #777;
  border: none;
  color: #fff;
  padding: 10px 42px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  border-radius: 8px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  margin-top: 24px;
}

#generatebutton:hover {
  background-color: #999;
}

#generatebutton:focus {
  outline: 0;
}


.centerAll {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, 45%);
	transform: translate(-50%, -45%);
	text-align: center;
	-moz-text-align-last: center;
	text-align-last: center;
	clear: both;
}

.topnav {
	overflow: hidden;
	height: 60px;
}

.topnav a {
	float: left;
	display: block;
	color: #444;
	font-family: 'Source Sans Pro';
	font-size: 16pt;
	letter-spacing: 1px;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	-webkit-transition-duration: 0.2s;
  	transition-duration: 0.2s;
}

.topnav a:hover {
	color: #011;
}


#chords {
	padding-bottom: 50px;
	margin-bottom: 10px;
}
